<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blue</key>
	<dict>
		<key>base</key>
		<string>0000FF</string>
		<key>light</key>
		<string>4C4CFF</string>
		<key>dark</key>
		<string>00007F</string>
		<key>ball</key>
		<string></string>
		<key>squashed</key>
		<string></string>
	</dict>
	<key>green</key>
	<dict>
		<key>base</key>
		<string>00FF00</string>
		<key>light</key>
		<string>4CFF4C</string>
		<key>dark</key>
		<string>007F00</string>
		<key>ball</key>
		<string></string>
		<key>squashed</key>
		<string></string>
	</dict>
	<key>red</key>
	<dict>
		<key>base</key>
		<string>FF0000</string>
		<key>light</key>
		<string>FF4C4C</string>
		<key>dark</key>
		<string>7F0000</string>
		<key>ball</key>
		<string></string>
		<key>squashed</key>
		<string></string>
	</dict>
	<key>yellow</key>
	<dict>
		<key>base</key>
		<string>FFFF00</string>
		<key>light</key>
		<string>FFFF4C</string>
		<key>dark</key>
		<string>7F7F00</string>
		<key>ball</key>
		<string></string>
		<key>squashed</key>
		<string></string>
	</dict>
	<key>orange</key>
	<dict>
		<key>base</key>
		<string>FF4500</string>
		<key>light</key>
		<string>FF7D4C</string>
		<key>dark</key>
		<string>7F2200</string>
		<key>ball</key>
		<string></string>
		<key>squashed</key>
		<string></string>
	</dict>
	<key>purple</key>
	<dict>
		<key>base</key>
		<string>800080</string>
		<key>light</key>
		<string>952D95</string>
		<key>dark</key>
		<string>CC00CC</string>
		<key>ball</key>
		<string></string>
		<key>squashed</key>
		<string></string>
	</dict>
	<key>bronze</key>
	<dict>
		<key>base</key>
		<string>7E7565</string>
		<key>light</key>
		<string>FDEBD7</string>
		<key>dark</key>
		<string>716C63</string>
		<key>ball</key>
		<string></string>
		<key>squashed</key>
		<string></string>
	</dict>
	<key>silver</key>
	<dict>
		<key>base</key>
		<string>D9D9D9</string>
		<key>light</key>
		<string>E7E8E7</string>
		<key>dark</key>
		<string>A69E9D</string>
		<key>ball</key>
		<string></string>
		<key>squashed</key>
		<string></string>
	</dict>
	<key>gold</key>
	<dict>
		<key>base</key>
		<string>F2B705</string>
		<key>light</key>
		<string>F2C84B</string>
		<key>dark</key>
		<string>BF820F</string>
		<key>ball</key>
		<string></string>
		<key>squashed</key>
		<string></string>
	</dict>
	<key>rock</key>
	<dict>
		<key>base</key>
		<string>403F3D</string>
		<key>light</key>
		<string>7F7E7A</string>
		<key>dark</key>
		<string>313133</string>
		<key>ball</key>
		<string></string>
		<key>squashed</key>
		<string></string>
	</dict>
	<key>crystal</key>
	<dict>
		<key>base</key>
		<string>3350A6</string>
		<key>light</key>
		<string>F2505D</string>
		<key>dark</key>
		<string>162059</string>
		<key>ball</key>
		<string></string>
		<key>squashed</key>
		<string></string>
	</dict>
	<key>prize</key>
	<dict>
		<key>base</key>
		<string>CE2F00</string>
		<key>light</key>
		<string>E1BA00</string>
		<key>dark</key>
		<string>A50003</string>
		<key>ball</key>
		<string></string>
		<key>squashed</key>
		<string></string>
	</dict>
	<key>rainbow</key>
	<dict>
		<key>base</key>
		<string></string>
		<key>light</key>
		<string></string>
		<key>dark</key>
		<string></string>
		<key>ball</key>
		<string></string>
		<key>squashed</key>
		<string></string>
	</dict>
	<key>platinum</key>
	<dict>
		<key>base</key>
		<string>9F9C99</string>
		<key>light</key>
		<string>9BABBB</string>
		<key>dark</key>
		<string>84898C</string>
		<key>ball</key>
		<string></string>
		<key>squashed</key>
		<string></string>
	</dict>
</dict>
</plist>
