<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blue</key>
	<dict>
		<key>base</key>
		<string>0000FF</string>
		<key>light</key>
		<string>4C4CFF</string>
		<key>dark</key>
		<string>00007F</string>
		<key>ball</key>
		<string>ball_blue.png</string>
		<key>squashed</key>
		<string>ball_blue_s.png</string>
	</dict>
	<key>green</key>
	<dict>
		<key>base</key>
		<string>00FF00</string>
		<key>light</key>
		<string>4CFF4C</string>
		<key>dark</key>
		<string>007F00</string>
		<key>ball</key>
		<string>ball_green.png</string>
		<key>squashed</key>
		<string>ball_green_s.png</string>
	</dict>
	<key>red</key>
	<dict>
		<key>base</key>
		<string>FF0000</string>
		<key>light</key>
		<string>FF4C4C</string>
		<key>dark</key>
		<string>7F0000</string>
		<key>ball</key>
		<string>ball_red.png</string>
		<key>squashed</key>
		<string>ball_red_s.png</string>
	</dict>
	<key>yellow</key>
	<dict>
		<key>base</key>
		<string>FFFF00</string>
		<key>light</key>
		<string>FFFF4C</string>
		<key>dark</key>
		<string>7F7F00</string>
		<key>ball</key>
		<string>ball_yellow.png</string>
		<key>squashed</key>
		<string>ball_yellow_s.png</string>
	</dict>
	<key>orange</key>
	<dict>
		<key>base</key>
		<string>FF4500</string>
		<key>light</key>
		<string>FF7D4C</string>
		<key>dark</key>
		<string>7F2200</string>
		<key>ball</key>
		<string>ball_orange.png</string>
		<key>squashed</key>
		<string>ball_orange_s.png</string>
	</dict>
	<key>purple</key>
	<dict>
		<key>base</key>
		<string>800080</string>
		<key>light</key>
		<string>952D95</string>
		<key>dark</key>
		<string>CC00CC</string>
		<key>ball</key>
		<string>ball_purple.png</string>
		<key>squashed</key>
		<string>ball_purple_s.png</string>
	</dict>
	<key>bronze</key>
	<dict>
		<key>base</key>
		<string>7E7565</string>
		<key>light</key>
		<string>FDEBD7</string>
		<key>dark</key>
		<string>716C63</string>
		<key>ball</key>
		<string>ball_bronze.png</string>
		<key>squashed</key>
		<string>ball_bronze_s.png</string>
	</dict>
	<key>silver</key>
	<dict>
		<key>base</key>
		<string>D9D9D9</string>
		<key>light</key>
		<string>E7E8E7</string>
		<key>dark</key>
		<string>A69E9D</string>
		<key>ball</key>
		<string>ball_silver.png</string>
		<key>squashed</key>
		<string>ball_silver_s.png</string>
	</dict>
	<key>gold</key>
	<dict>
		<key>base</key>
		<string>F2B705</string>
		<key>light</key>
		<string>F2C84B</string>
		<key>dark</key>
		<string>BF820F</string>
		<key>ball</key>
		<string>ball_gold.png</string>
		<key>squashed</key>
		<string>ball_gold_s.png</string>
	</dict>
	<key>rock</key>
	<dict>
		<key>base</key>
		<string>403F3D</string>
		<key>light</key>
		<string>7F7E7A</string>
		<key>dark</key>
		<string>313133</string>
		<key>ball</key>
		<string>ball_rock.png</string>
		<key>squashed</key>
		<string>ball_rock_s.png</string>
	</dict>
	<key>crystal</key>
	<dict>
		<key>base</key>
		<string>3350A6</string>
		<key>light</key>
		<string>F2505D</string>
		<key>dark</key>
		<string>162059</string>
		<key>ball</key>
		<string>ball_crystal.png</string>
		<key>squashed</key>
		<string>ball_crystal_s.png</string>
	</dict>
	<key>prize</key>
	<dict>
		<key>base</key>
		<string>CE2F00</string>
		<key>light</key>
		<string>E1BA00</string>
		<key>dark</key>
		<string>A50003</string>
		<key>ball</key>
		<string>ball_prize.png</string>
		<key>squashed</key>
		<string>ball_prize_s.png</string>
	</dict>
	<key>rainbow</key>
	<dict>
		<key>base</key>
		<false/>
		<key>light</key>
		<false/>
		<key>dark</key>
		<false/>
		<key>ball</key>
		<string>ball_rainbow.png</string>
		<key>squashed</key>
		<string>ball_rainbow_s.png</string>
	</dict>
	<key>platinum</key>
	<dict>
		<key>base</key>
		<string>9F9C99</string>
		<key>light</key>
		<string>9BABBB</string>
		<key>dark</key>
		<string>84898C</string>
		<key>ball</key>
		<string>ball_platinum.png</string>
		<key>squashed</key>
		<string>ball_platinum_s.png</string>
	</dict>
</dict>
</plist>
